spring:
  data:
    mongodb:
      uri: mongodb+srv://aryan24bcs10305_db_user:ygRwhaW5LwpomDi7@cluster0.nkgqcb5.mongodb.net/fitness?retryWrites=true&w=majority
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8081
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking